footer {
  height: 100px;
  position: relative;
  bottom: -5px;
  @media screen and (max-width: 765px) {
    bottom: -5px;
  }
  p {
    font-family: "Roboto";
    position: absolute;
    color: white;
    top: 0;
    right: 25px;
    a {
      text-decoration: none;
      color: white;
    }
  }
  img {
    width: 100vw;
    height: 100px;
  }
}
